
#container{
    display: flex;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;

 
}
.sticker{

    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}
#reset{
    text-align: center;
    margin: 0 auto;
}
.gridDiv{
    width: 15px;
    height: 15px;
    border: 1px solid black;
}
#shaded1{
    background-color: #0000ee;
}
