
#container{
    display: flex;
    border: 5px solid black;
    justify-content: space-between;
    width: 700px;
    height: 700px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.sticker{
    font: bold;
    text-align: center;
    margin: 0 auto;
    padding-top: 15px;
}
.gridDiv{
    border: 1px solid black;
    width: 15px;
    height: 15px;
    margin: 1px;
    
}
#shaded1{
    background-color: #0000ee;
}
